<div class="contaniner">
  <div class="col-md-4 offset-md-4"><h2 class="text-center mt-3">
    <span class="fa fa-telegram" style="color:blue;"></span>
    開始報告
    </h2>
    
    <%= form_tag("/login") do %>
      <div class="form-group">
        <label>氏名</label>
        <input name="name" class="form-control" style="border:1px solid #A9A9A9">
      </div>  
      
      <div class="form-group">  
        <label>パスワード</label>
        <input type="password" name="password" class="form-control" style="border:1px solid #A9A9A9" placeholder="数字4文字">
      </div>
      
      <div class="text-center">
        <input type="submit" value="ログイン"  class="btn btn-primary" >
      </div>
    <% end %>
  </div>
</div>
