<div>
  <div class="col-md-4 offset-md-4"><h2 class="text-center mt-3">
    <span class="fa fa-telegram" style="color:blue;"></span>
    開始報告
    </h2>
    
    <%= form_tag("/login") do %>
      <div class="form-group">
        <label>氏名</label>
        <p>
          <input name="name" class="form-control" placeholder="五木太郎(空白を入れないでね)">
        </p>
      
        <label>パスワード</label>
        <p>
          <input type="password" name="password" class="form-control" placeholder="数字4文字">
        </p>
      </div>
      
      <div class="text-center">
        <div>
          <input type="submit" value="ログイン"  class="btn btn-primary" >
        </div>
      
      </div>
    <% end %>

  
  </div>
</div>
