<div>
  <div class="col-md-4 offset-md-4">
  <h2 class="text-center mt-3">ログイン</h2>
  
    <%= form_tag("/login") do %>
      <div class="form-group">
        <label>なまえ</label>
        <p>
          <input name="name" class="form-control">
        </p>
      
        <label>パスワード</label>
        <p>
          <input type="password" name="password" class="form-control" placeholder="数字4文字">
        </p>
      </div>
      
      <div class="text-center">
        <input type="submit" value="ログイン"  class="btn btn-primary" >
      </div>
    <% end %>

  
  </div>
</div>
