<% tag_list.each do |tag| %>
  
  <button type="button" class="btn btn-outline-primary btn-sm"> 
  
    <%= link_to tag, movies_path(search_tag: tag), :style => "color:black;"  %>
  
  </button>
  
<% end %>
