<h1>動画で学ぼう</h1>

<%= video_tag 'H29MT1_1_1.MP4', autoplay: false, 
controls: true,  loop: true, size:'10*10' %>


<hr>

<%= video_tag 'H29MT1_1_2.MP4', autoplay: false, 
controls: true,  loop: true, size:'10*10' %>