<h1 style="text-align:center" class="mt-3 mb-3">もぎアプリ</h1>

<p>
もぎアプリは、模擬テストの問題の解説を動画で行うサービスです。
動画で復習し、同じ間違いは繰り返さないようにしましょう。
</p>

  <% @movies.each do |movie| %>
    
    <div class="box2">
      <h3>
        <%= link_to movie.title, "movies/#{movie.id}" , :style=>"color:#000000;"%>
      </h3>
      <p>
        <% movie.tag_list.add(movie.tag_name.split(","))%>
        <%= render 'movies/tag_list', tag_list: movie.tag_list %>
      </p>
    </div>  
  <% end %>
        
    
  <%= link_to("一覧に戻る", movies_path, class:"btn btn-outline-primary btn-sm") %>
   


