<div class="col-md-4 offset-md-4"><h2 class="text-center mt-3">
  <span class="fa fa-copy" style="color:red;"></span>スライドサプリ
  </h2>
  
  <% @slides.each do |slide| %>
    <div class="box">
      <div class="slide-title">
       <%= link_to(slide.title, "/slide/#{slide.id}" , :style=>"color:#000000;") %>
      </div>
      
      
      <div>
        <%= link_to image_tag( slide.image.split(",").first ), "/slide/#{slide.id}"  %>
      </div>
      
      
      
      <% slide.tag_list.add(slide.tag_name.split(","))%>
      <%= render 'slide/tag_list', tag_list: slide.tag_list %>
    </div>
  <% end  %>
  
</div>

