<div class="col-md-4 offset-md-4">
  <h2 class="mt-3 mb-3">
  <span class="fa fa-film" style="color:red;"></span>スライドサプリ
  </h2>

  <div class="a">  
    <div class="b"><%= image_tag "renritsu1.jpg" %></div>
    <div class="b"><%= image_tag "renritsu2.jpg" %></div>
    <div class="b"><%= image_tag "renritsu3.jpg" %></div>
  </div>
</div>