<div class="col-md-6 offset-md-3"><h2 class="text-center mt-3">
  <span class="fa fa-copy" style="color:blue;"></span>スライドサプリ
  </h2>
  <div class="box">
    <div class="a">
      <% @slide_img_arr.each do |slide|%>
        <div class="b"><%= image_tag slide %></div>
      <% end %>
    </div>
  </div>
  
  <% @slide.tag_list.add(@slide.tag_name.split(","))%>
    <p>
    <%= render 'slide/tag_list_for_show', tag_list: @slide.tag_list %>
    </p>
    <%= link_to("一覧に戻る", root_path, class:"btn btn-outline-primary btn-sm") %>
  
    
</div>

