<h2>gmap</h2>
<div id='map'></div>

<style>
#map{
  height: 400px;
}
</style>

<script>
function initMap(){
  
  
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 34.703, lng: 135.568},
  zoom: 18
  });
  
  
  
  // 各地点のマーカーを作成
  let maps = new google.maps.Marker({
        position: new google.maps.LatLng({lat: 34.700, lng: 135.560}), 
        map: map
      });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlcl57QX3NkehgLmbcsv9CM3oy4w6oaBQ&callback=initMap" async defer></script>