
<h3>テスト会の会場だYo</h3>
<div id='map'></div>



<style>
  #map{ 
    height: 400px; 
    
  }
</style>

<script>
var center ={
  lat: 34.703, // 緯度
  lng: 135.568// 経度
}; 
  
var infoWindow = []; // 吹き出しを複数表示させたいので、配列化
var marker =[];


var directionsService = new google.maps.DirectionsService();
var directionsDisplay;


function initMap(){
  var directions; //ルートのインスタンス
  var geocoder = new google.maps.Geocoder();
  
  directions = new google.maps.DirectionsService();
  
  var map = new google.maps.Map(document.getElementById('map'), { // #mapに地図を埋め込む
    center: center, // 地図の中心を指定
    zoom: 10, // 地図のズームを指定
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var i=0;
  <% @schools.each do |school| %>
    marker[i] = new google.maps.Marker({ // マーカーの追加
        position: {lat:<%= school.latitude %> , lng: <%= school.longitude %> },// マーカーを立てる位置を指定
        map: map // マーカーを立てる地図を指定
    });
    
    // 各地点の吹き出しを作成
    infoWindow[i] = new google.maps.InfoWindow({
      // 吹き出しの内容
      content: '<%= school.schoolname %>'+'<br>まもなく売り切れ。急げ'
    });
    
    markerEvent(i);
    i=i+1;  
  <% end %>

  function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき
    infoWindow[i].open(map, marker[i]); // 吹き出しの表示
    });
  }//markerEvant

  document.getElementById("btn").onclick = function() {
   //getRoute();
    var address = document.getElementById("address").value;
    
    //geocoder.geocode(address, moveTo);
    
    geocoder.geocode({ address: address }, function(results, status){
      if (status === 'OK' && results[0]){

        var marker = new google.maps.Marker({
         position: results[0].geometry.location,
         map: map
       });

      }else{ 
        //住所が存在しない場合の処理
        alert('住所が正しくないか存在しません。');
      }//if
      
    }
    )//geocoder.geocode
    
  }//document.getElementById
}///initMap



function moveTo(latlng) {
  alert("2");
}

function getRoute() {
  var request = {
    origin: center,
    destination: {lat:34.7081431,lng: 135.6454219},
    travelMode: google.maps.TravelMode.WALKING
  };
    

  new google.maps.DirectionsService().route(request, function(response, status) {
   new google.maps.DirectionsRenderer({
      map:map,
      directions: response
    })
  });
}
</script>



<div class="form">
  <label>出発
    <input type="text" id="address">
  </label>
    <input type="button" id="btn" value="ルートを表示">
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
</script>


