<div class="col-md-4 offset-md-4">

  <h4 style="text-align:center" class="mt-3 mb-3">
    <span class="fa fa-film" style="color:red;"></span>IT'S KEY
    </h4>
  
  <p>
  観たい動画の問題番号をクリックしてね  
  </p>
  
    <% @movies.each do |movie| %>
      
      <div class="box2">
        <div class="movie-title">
          <span class="fa fa-film" style="color:red;"></span>
          <%= link_to movie.title, controller: :mogisupple, action: :show, id: movie , :style=>"color:#000000;" %>
          <!-- mogisupple#showにリンクするように設定-->
          
          <% if false %>
            <%= link_to movie.title, "mogisupple/#{movie.id}", :style=>"color:#000000;" %>
          <% end %>  
            
        </div>
        <% movie.tag_list.add(movie.tag_name.split(","))%>
        
        <% movie.tag_list.each do |tag| %>
          <%= link_to tag, mogisupple_index_path(search_tag: tag), class:'btn btn-sm btn-outline-primary'%>
        <% end %>
      </div>  
    <% end %>
      
   <%= link_to("動画一覧に戻る", mogisupple_index_path, class:"btn btn-outline-primary btn-sm") %>
</div>     


