<ul class="tabnav">
  <li><a href="#tab01">もぎサプリ</a></li>
  <li><a href="#tab02">スライドサプリ</a></li>
</ul>

<div class="tabcontent">
  <div id="tab01">
    <% @movies.each do |movie| %>
    
      <div class="box2">
        <div class="movie-title">
          <span class="fa fa-film" style="color:red;"></span>
            <%= link_to movie.title, "home/#{movie.id}" , :style=>"color:#000000;" %>
        </div>
        <% movie.tag_list.add(movie.tag_name.split(","))%>
        <%= render 'home/tag_list', tag_list: movie.tag_list %>
      </div>  
    <% end %>
  </div>
  
  <div id="tab02">タブ2の内容<br>タブ2の内容</div>
    
</div>

