<ul class="tabnav">
    <li><a href="#tab01">メニュー1</a></li>
    <li><a href="#tab02">メニュー2</a></li>
    
</ul>
<div class="tabcontent">
    <div id="tab01">タブ1の内容</div>
    <div id="tab02">タブ2の内容<br>タブ2の内容</div>
    
</div>

