<div class="top-main">

  <h1 class="title">IT'S KEY!</h1>
  
  <div class="image">
  <%= image_tag("/pixta_47489530_S.jpg", width: '40%') %>
  </div>

  
  <ul class="list">
    <li><%= link_to ">もぎサプリ", movies_path , :style=>"color:#000000;" %></li>
    <%= link_to ">開始報告", login_path, :style=>"color:#000000;" %></li>
  </ul>
</div>  



