/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
@import "font-awesome";

/* header ***********************/

@font-face {
  font-family: "MANIFESTO";
  src: font-url('MANIFESTO.ttf') format("truetype");
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.title {
  font-family: "MANIFESTO";
  float: left;
  margin-top: 0.1em;
  margin-left: 1em;
  
  
}

/* menusをアコーディオン ******/
.header-menus{
  float: right;
  margin-top: 0.2em;
  margin-right: 2em;
}

.header-menus {
  max-width: 600px;
}

.header-menus a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

label {
    display: block;
    margin: 0 0 0.2rem 0;
    padding : 0.4rem 0 0.2rem 0;
    line-height: 1;
    color :#fff;
    background : dark;
    cursor :pointer;
}

input {
    display: none;
}

.header-menus ul {
    margin: 0;
    padding: 0;
    background :#f4f4f4;
    list-style: none;
}

.header-menus li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li {
    height: 54px;
    opacity: 1;
}


/* スマホ対応 ********************/
@media (max-width: 760px){
  .thead-light {
    font-size: 80%;
  } 
}

/*スリック***********************/
.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "●" !important;
      font-size: 14px !important;
      color: rgb(255, 0, 0) !important;
    }
  }
}



