/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 
 *= require_tree .
 *= require_self
 */


@import "simple_calendar";
@import "bootstrap";
@import "font-awesome";


@font-face {
  font-family: "MANIFESTO";
  src: font-url('MANIFESTO.ttf') format("truetype");
}

body{
  padding: 0.1rem;
}


/************** ヘッダー ***************:*/
header{
  background-color: #000; /*　背景色　黒*/
  margin-bottom: 0.5rem; /* 下のコンテンツとのアキ*/
}

.title {
  font-size: 1rem;
  color: #FFF;  /* 文字の色  */
  font-family: "MANIFESTO";
  font-weight: bold;      /* font bold*/   
  padding: 0.2rem 0.2rem 0.2rem 0.2rem ;        /* 要素の内側の余白 */
}

/***
a:link { color: #0000ff; }
***/


ul {
    list-style: none;
}

li {
  margin: 0.3rem;
}

/* menusをアコーディオン ******/
.header-menus{
  float: right;
  margin-top: 0.2em;
  margin-right: 2em;
}

.header-menus {
  max-width: 600px;
}

.header-menus a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #00f;
}


label {
    display: block;
    margin: 0 0 0.2rem 0;
    padding : 0.4rem 0 0.2rem 0;
    line-height: 1;
    color :#00f;
    background : dark;
    cursor :pointer;
}


/***
.contents{
  diplay: flex;
  padding: 0.1rem;
  
}


input {
    display: none;
}
**/


.header-menus li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li {
    height: 54px;
    opacity: 1;
}


/* スマホ対応 ********************/
@media (max-width: 760px){
  .thead-light {
    font-size: 80%;
  } 
}

/*スリック***********************/
.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "●" !important;
      font-size: 14px !important;
      color: rgb(255, 0, 0) !important;
    }
  }
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// カレンダーの設定
.simple-calendar {
  
 
  
  .day {
   
    text-align:center;
    font-size: 20px;
  }
  
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}
  .today {
    //background: #FFA0A0;
    border: 3px solid #FF0000; //赤い枠
    background: #FFFFFF;
  }
  .past {
    
  }
  .future {
    
  }
  .start-date {}
  .prev-month {
    background: #FFFFFF;
    color: #C0C0C0; //先月の日の色を灰色　
    
  }
  .next-month {
    background: #FFFFFF;
    color: #C0C0C0; //来月の日の色を灰色
    
  }
  .current-month {}
  .has-events {
    background: #98fb98; //動画を観た日の背景を変える
  }
}

