/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
@import "font-awesome";


@font-face {
  font-family: "MANIFESTO";
  src: font-url('MANIFESTO.ttf') format("truetype");
}


body{
  padding: 0.1rem;
}


/************** ヘッダー ***************:*/
.title {
  font-size: 1.7rem;
  color: #000;            /* font coolor black */
  font-family: "MANIFESTO";
  font-weight: bold;      /* font bold*/   
  border: solid 1px ;     /* 枠 */
  padding: 0.2rem 0.2rem 0.2rem 1rem ;        /* 要素の内側の余白 */
}

.contents{
  diplay: flex;
  padding: 0.1rem;
  
}

.content-left{
  border: solid 1px;
  float: left;
  width: 70%;
}

.content-right{
  border: solid 1px;
  float: left;
  width: 28%;
  margin-left: 1rem; 
}



/* menusをアコーディオン ******/
.header-menus{
  float: right;
  margin-top: 0.2em;
  margin-right: 2em;
}

.header-menus {
  max-width: 600px;
}

.header-menus a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #00f;
}

label {
    display: block;
    margin: 0 0 0.2rem 0;
    padding : 0.4rem 0 0.2rem 0;
    line-height: 1;
    color :#00f;
    background : dark;
    cursor :pointer;
}

/***
input {
    display: none;
}
**/

.login {
  padding: 0.5rem;
  text-align:right;
}


.header-menus ul {
    margin: 0;
    padding: 0;
    background :#f4f4f4;
    list-style: none;
}

.header-menus li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li {
    height: 54px;
    opacity: 1;
}


/* スマホ対応 ********************/
@media (max-width: 760px){
  .thead-light {
    font-size: 80%;
  } 
}

/*スリック***********************/
.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "●" !important;
      font-size: 14px !important;
      color: rgb(255, 0, 0) !important;
    }
  }
}



