


.from-here {
  float: left;
  width: 65%;
  text-align: right;
}



//labelの後に必須マーク
label.required:after {
  margin-left: 1.0em;
  padding: 0px 6px 0px 6px;
  border-radius: 4px;
  font-size: 0.6em;
  color: white;
  background-color: #C44;
  content: "必須";
}