// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*==========================*/


.top-main {  
  margin:10px auto;
}

 .image{
   text-align: center;
   margin-top: 50px;
 }

 .list{
  text-align:center;
  margin-top: 30px;
  font-size: 20px;
 }


ul, li{
  list-style-type: none;
}



/*　タブ *********/
.tabnav{
    margin: 0;
    padding-top: 20px;
}
.tabnav li{
    display: inline;
}
.tabnav li a{
    display: inline-block;
    background: #405dca;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}
.tabnav li a:hover,
.tabnav li a.active{
    background: #ddd;
    color: #333;
}
.tabcontent{
    padding: 20px;
    border: 1px dotted #ccc;
}

/* topバー分　ずらす *********/
body { padding-top: 90px; }