// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*==========================*/

.title {
   font-family: "MANIFESTO";
}


.top-main {  
  margin:10px auto;
}

.title{
  text-align: center;
  font-size: 60px;
}

 .image{
   text-align: center;
   margin-top: 50px;
 }



 .list{
  text-align:center;
  margin-top: 30px;
  font-size: 30px;
 }


ul, li{
  list-style-type: none;
}


/*===================*/


.tabnav{
    margin: 0;
    padding: 0;
}
.tabnav li{
    display: inline;
}
.tabnav li a{
    display: inline-block;
    background: #405dca;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}
.tabnav li a:hover,
.tabnav li a.active{
    background: #ddd;
    color: #333;
}
.tabcontent{
    padding: 20px;
    border: 1px dotted #ccc;
}