// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*==========================*/

.title {
   font-family: "MANIFESTO";
}

.top-main {  
  position: absolute;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 60px;
}

 .list{
   display: inline-block;
   text-align: left;
   margin-top: 30px;
   
 }

 .image{
   margin-top: 50px;
 }

ul, li{
  list-style-type: none;
  margin: 0;
}


/*===================*/



/*



.top-main {  
  position: absolute;
    
  width: 100%;
  min-height: 100%;

  background-repeat: no-repeat;
  background-image: url("/pixta_47489530_S.jpg");

}



.header-logo {
    float: left;
    padding-left: 30px;
    color: black;
    font-size: 22px;
    line-height: 64px;
}

.header-menus {
    float: right;
    padding-right: 30px;
}

.header-menus li {
    float: left;
    line-height: 64px;
    font-size: 15px;
    color: color;
    padding-left: 15px; 
}

.top-main {
  padding-top: 0px; 
  text-align: center;
  position: absolute;
    
  width: 100%;
  height: auto;
  min-height: 100%;
  color: white;
  background-color: #3ecdc6;
  background-repeat: no-repeat;
    
  background-size: cover;
  background-image: url("/download.jpg");
}


.top-main {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 20px;
}

*/

