// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*==========================*/


.box2 {
  padding: 0.5em 1em; 
  margin: 1em 0; 
  
  border: solid 1px #A9A9A9;
}

.box3{
  border: solid 2px #A9A9A9;
}

.box4{
  margin: 0 0 -0.4em 0; 
}

//動画のタイトル
.movie-title{
  font-size: 20px;
}  
  
