// Place all the styles related to the mogisupple controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box2 {
  padding: 0.5em 1em;
  margin: 2em 0;
  
  border: solid 2px #A9A9A9;
}

.movie-title{
  font-size:30px;
  
}