// Place all the styles related to the testkai controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label{
  text-align: center;
}

.pull-down {
  display: inline-block; 
  margin-top: 20px;
  margin-right: 10px;
}

.submit-btn{
  margin-top: 20px;
}