// Place all the styles related to the testkai controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.schoolname {
  margin-top: 30px;
}

.index{
  margin-top: 20px;
}

.submit-btn{
  margin-top: 20px;
}

.index-btn{
  margin-top: 40px;
}