// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//プロフール画像を丸く、サイズ//
.icon{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  
}


.view-left{
  text-align: left;
  color: #B3B3B3;
}

.button-right{
  text-align: right;
}

