// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//プロフール画像を丸く、サイズ//
.icon{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  
}

#calendar {
	max-width: 100%;
	margin: 0 auto;
}